{% extends "admins/index.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TOTAL PRODUCT</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_pro}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ASSIGN PRODUCT</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{assign_pro}}</div>
                </div>
                <div class="col-auto">
                 <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TOTAL USER</div>
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_user}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-group fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">ASSIGN USER</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{assign_user}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

              <!-- Color System -->
  <h1 class="h3 mb-0 text-gray-800">Call Information</h1>
  <br>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card bg-primary text-white shadow">
        <div class="card-body">
          TOTAL CALL
          <div class="text-white-50 small">{{total_call}}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card bg-success text-white shadow">
        <div class="card-body">
          TOTAL ONE DAY CALL
          <div class="text-white-50 small">{{oneday_call}}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card bg-danger text-white shadow">
        <div class="card-body">
          REMAINING DAY CALL
          <div class="text-white-50 small">{{rem_call}}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card bg-warning text-white shadow">
        <div class="card-body">
          DAY CALL DONE 
          <div class="text-white-50 small">{{day_call_done}}</div>
        </div>
      </div>
    </div>
  </div>

   <h1 class="h3 mb-0 text-gray-800">Product Information</h1>
   <br>
   <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card bg-primary text-white shadow">
          <div class="card-body">
            PRODUCT
            <div class="text-white-50 small">{{total_pro}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card bg-success text-white shadow">
          <div class="card-body">
            ACTIVE PRODUCT
            <div class="text-white-50 small">{{active_pro}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card bg-danger text-white shadow">
          <div class="card-body">
            REPAIR PRODUCT
            <div class="text-white-50 small">{{repair_pro}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card bg-secondary text-white shadow">
          <div class="card-body">
            INACTIVE PRODUCT 
            <div class="text-white-50 small">{{inactive_pro}}</div>
          </div>
        </div>
      </div>
     <div class="col-lg-6 mb-4">
        <div class="card bg-info text-white shadow">
          <div class="card-body">
            ASSIGN PRODUCT
            <div class="text-white-50 small">{{assign_pro}}</div>
          </div>
        </div>
      </div>
   </div>

</div>
{% endblock content %}