
{% extends "index.html" %}
{% block content %}
{% load static %}


<div class="table-responsive">
    <button class="toggle btn btn-primary" style="margin-bottom: 20px;"><i class="fas fa-fw fa fa-sliders" style="font-size:20px"></i>Filter</button>
      <form id="target" method="get">
           <div  class="well" style="padding: 10px; border:1px solid #e3e6f0 ;color: #858796;">
              <h4 style="margin-top: 0">Assign Product</h4>
               <div class="row">

                  <div class="form-group col-sm-4 col-md-6">
                    ProductId  <br>{{ myFilter.form.product_id }}{{ myFilter.form.product_id.errors }}
                  </div>

                  <div class="form-group col-sm-4 col-md-6">
                    EmployeeId  <br>{{ myFilter.form.employee_id }}{{ myFilter.form.employee_id.errors }}
                  </div>

                  <div class="form-group col-sm-4 col-md-3">
                    Add Date  <br>{{ myFilter.form.add_date}}{{ myFilter.form.add_date.errors}}
                  </div>
                 
                  <div class="form-group col-sm-4 col-md-3">
                    Return Date  <br>{{ myFilter.form.return_date}}{{ myFilter.form.return_date.errors }}
                  </div>

                  <div class="form-group col-sm-4 col-md-3">
                    Active  <br>{{ myFilter.form.active}}{{ myFilter.form.active.errors }}
                  </div>
              
              </div>
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
              </button>
          </div>
        
      </form>


      <table class="table table-striped table-bordered table-sm">
          <thead class="thead-dark">
              <tr>                            
                <th>DEVICE NAME</th>
                <th>SERIAL NO</th>
                <th>EMPLOYEE ID</th>
                <th>EMPLOYEE NAME</th>
                <th>DEVICE TYPE</th>
                <th>ADD DATE</th>
                <th>REPLACE</th>
              </tr>
           </thead>

          <tbody>
              {% for product in instance %}
              <tr>
                <td>{{ product.product_id.product_name }}</td>
                <td><a href="/editproducts/{{ product.product_id.id }}">{{ product.product_id.serial_no }}</a></td>
                <td><a href="/editemployee/{{ product.employee_id.id }}">{{ product.employee_id.Employeeid }}</a></td>
                <td>{{ product.employee_id.first_name }}</td>
                <td>{{ product.product_id.device_type }}</td>
                <td>{{ product.add_date}}</td>
                <td><a href="/replaceproduct/{{ product.product_id.id }}"><i class='fas fa-exchange-alt'></i>Replace</a></td>                                  
              </tr>
               {% empty %}
                <p style="color: red">No Product and User has been logged yet.</p>
               {% endfor %}
          </tbody>
      </table>

      {% include 'pagination.html' %}

</div>

<script>
  document.getElementById("id_product_id").classList.add('form-control');
  document.getElementById("id_employee_id").classList.add('form-control');
</script>

{% include 'toggle.html' %}


{% endblock content %}