{% extends "index.html" %}
{% block content %}
{% load static %}

<link href="{% static '/css/call.css' %}" rel="stylesheet">

<div class="container py-3" id="allow">
    <div class="row">
        <div class="col-md-12"> 
            <!-- form contact -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                  <h3 class="mb-0">Edit Employee</h3>
                </div>
                <div class="text-center mb-3">    
                  {% include 'messages.html' %}
                </div>        
                
                <div class="card-body">
                    <form autocomplete="off" class="form" role="form" action="." method='POST'>
                    {% csrf_token %}
                        <fieldset>
                            <label class="mb-0" for="name2">Employee ID<b style="color:red">*</b>:</label>
                                <div class="row mb-1">
                                  <div class="col-lg-12">
                                     <input type="hidden" name="id" value="{{prod.id}}">
                                    {{form.Employeeid}} {{ form.Employeeid.errors }}
                                  </div>
                                </div>
                      
                            <label class="mb-0" for="email2">Designation<b style="color:red">*</b>:</label>
                                <div class="row mb-1">
                                  <div class="col-lg-12">
                                    {{form.Designation}} {{ form.Designation.errors }}
                                  </div>
                                </div>
                              
                            <label class="mb-0" for="email2">Department<b style="color:red">*</b>:</label>
                                <div class="row mb-1">
                                  <div class="col-lg-12">
                                    {{form.Department}} {{ form.Department.errors }}
                                  </div>
                                </div>

                            <label class="mb-0" for="email2">First name<b style="color:red">*</b>:</label>
                                <div class="row mb-1">
                                    <div class="col-lg-12">
                                      {{form.first_name}} {{ form.first_name.errors }}
                                    </div>
                                </div>                                    

                            <label class="mb-0" for="email2">Last Name<b style="color:red">*</b>:</label>
                                <div class="row mb-1">
                                    <div class="col-lg-12">
                                      {{form.last_name}} {{ form.last_name.errors }}
                                    </div>
                                </div> 

                              <button class="btn btn-secondary btn-lg float-right" type="submit">Save</button>
                        </fieldset>
                    </form> <!-- form -->
                </div> <!-- card-body -->
            </div><!-- Card Card-outlin -->
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-->


{%endblock content%}